<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag}) %>
      <div class="main mainConnection">
        <div class="leftMain">
          <h2><%= connectionObj.ConnName%></h2>
          <div class="imghost">
            <img src="./../assets/images/host.jpg" alt="host" /><br />
            <h3>
              Location : <%= connectionObj.location%> <br />
              Date : <%= connectionObj.date%> <br />
              Time :<%= connectionObj.time%>
            </h3>
          </div>
          <h2>Details</h2>
          <%= connectionObj.details%>
        </div>
        <div class="rightMain">
          <h2>RSVP Here</h2>
          <!-- <form action="myConnections" method="GET">
            <button class="btn" type="submit" value="Yes" >Yes</button>
            <button class="btn" type="submit" value="Possibly" >Possibly</button>
            <button class="btn" type="submit" value="No" >No</button>
            <button class="btn" type="submit" value="Save for later" >Save for Later</button>
          </form> -->
          <a
            href="/myConnections?action=add&rsvp=Yes&connectionId=<%= connectionObj.uid %>"
          >
            <input name="rsvp" class="btn" type="submit" value="Yes" />
          </a>
          <a
            href="/myConnections?action=add&rsvp=No&connectionId=<%= connectionObj.uid %>"
          >
            <input name="rsvp" class="btn" type="submit" value="No"
          /></a>
          <a
            href="/myConnections?action=add&rsvp=Maybe&connectionId=<%= connectionObj.uid %>"
          >
            <input name="rsvp" class="btn" type="submit" value="Maybe"
          /></a>
        </div>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
