<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      type="text/css"
      href="./../assets/stylesheet/styles.css"
    />
    <title>Home</title>
  </head>
  <body>
    <div class="container">
      <%- include('partials/header.ejs', {loginFlag: loginFlag, user:user}) %>
      <div class="main">
        <h2>All Connections</h2>
       
        <table>
          <tr>
            <th>Connection</th>
            <th>Category</th>
            <th>Going?</th>
            <th>Events</th>
          </tr>
          <% myConnection_data.forEach(function(myConnection){ %>
            <tr>
            <td><%= myConnection.ConnName %></td>
            <td><%= myConnection.topic %></td>
            <td><%= myConnection.rsvp %></td>
            <td>
              <a href="/connection?connectionID=<%= myConnection.ConnId %>">
                <input class="btn btn2" type="submit" value="Update" />
              </a>
          
              <a href="/myConnections?action=delete&connectionId=<%= myConnection.ConnId %>">  
                <input class="btn btn2" type="submit" value="Delete" />
              </a>
            </td>
          </tr>
          <% }); %>
        </table>
        <h2>Note: You can add more going into 'Connections' Page. </h2>
      </div>
      <% include partials/footer.ejs%>
    </div>
  </body>
</html>
